body{
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: whitesmoke;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}

.button{
    text-align:center;
    height: 58px;
    width: 220px;
    margin: 10px;
}