.general{
    margin: 3px;
}

.map{
    width: 506px;
    height: 506px;
    margin: 0px;
    padding: 0px;
}
.general1{
    height: 220px;
    width: 1000px;
    margin: 0 auto;
    padding: 10px;
    display: inline-block;
    overflow: hidden;
}

.Casos{
    height: 200px;
    width: 200px;
    margin: 10px;
    border:  1px black solid;
    float: left;
}

.texto{
    margin: 10px;
    float: left;
    text-align: left;
}

.general2{
    height: 550px;
    width: 1000px;
    margin: 0 auto;
    padding: 10px;
    display: inline-block;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.general21{
    height: 500px;
    width: 400px;
    margin: 10px;
    float: left;
}

.visor{
    float: left;
    height: 510px;
    width: 510px;
    margin: 10px;
    border: 1px black solid;
}

table{
    border-spacing: 10px;
}